/*************************************** Caeers **********************************************/

.topSection {
  padding-top: 12rem;
  gap: 4rem;
  
  .imageContainer {
    min-width: 32rem;
    width: 32rem;
  }

  .description {
    flex: 1;
    min-width: 32rem;
    text-align: center
  }
}

@media (max-width: 768px) {
  .topSection {
    padding-top: 8rem !important;
    
    .imageContainer {
      min-width: 100%;
      width: 100%;
    }
  
    .description {
      min-width: 100%;
      width: 100%;
    }
  }
}
