.header a {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

.launch-app-link {
  z-index: 8;
}

.launch-app-btn {
  color: #282932;
  background: var(--custom-font-color);
  border-radius: 20px !important;
  text-transform: none;
  height: 44px !important;
  letter-spacing: -0.02em !important;
}

@media (max-width: 1400px) {
  .header a {
    font-size: 20px;
  }
  .launch-app-btn {
    font-size: 20px;
    height: 40px !important;
  }
}

@media (max-width: 992px) {
  .launch-app-btn {
    text-transform: uppercase;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .launch-app-btn {
    font-size: 14px;
    height: 30px !important;
  }
}

/************************************* Notification *************************************/

.notification-frame {
  background: #232529;
  height: 48px;
  z-index: 99;

  p {
    text-align: center;
  }
}

/************************************* Navigation *************************************/

.navbar {
  box-shadow: none;
  z-index: 99 !important;
}
.navbar a {
  color: var(--custom-font-color);
  letter-spacing: -0.02em;
}
.navbar a:hover,
.nav-item a:hover {
  color: var(--custom-font-color);
  text-shadow:
    0px 0px 5px var(--custom-panel-color),
    0px 0px 10px #f5f5f5,
    0px 0px 15px #f5f5f5,
    0px 0px 25px var(--custom-panel-color),
    0px 0px 40px var(--custom-panel-color);
}
.dark-nav {
  background: var(--custom-bg-color);
}

.dropdown-menu {
  background-color: var(--custom-panel-color) !important;
}

.dropdown-menu .nav-item a:hover {
  background-color: var(--custom-panel-color) !important;
}

.dropdown-menu .nav-item.active a,
.dropdown-menu .nav-item.active a:hover {
  color: var(--custom-font-color) !important;
  background-color: var(--custom-color-brand) !important;
  text-shadow: none !important;
  cursor: default;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown .dropdown-menu {
  margin-top: 0;
}
.dropdown-toggle::after {
  vertical-align: 0.14em;
}
.nav-item.inactive a {
  color: #000000 !important;
}

.dropdown-menu > li:first-child .dropdown-item {
  border-radius: 0 !important;
}
.dropdown-menu > li:last-child .dropdown-item {
  border-radius: 0 !important;
}

/************************************* Mobile Nav *************************************/

.mobile-nav {
  width: 100%;
  max-width: 100vw;
  padding-left: 16px;
  padding-right: 16px;
}
.mobile-nav nav {
  background: var(--custom-panel-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  z-index: 9;
}
.mobile-nav nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 170px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  padding-bottom: 48px;
}
.mobile-nav nav ul li {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  opacity: 0;
}
.mobile-nav nav ul li a {
  display: block;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
.mobile-nav nav ul li a:hover {
  color: #e84a5f;
}
.mobile-nav img {
  width: 32px;
  height: 32px;
}
.mobile-nav .theme-btn-transparent {
  z-index: 5;
}
.toggle-btn {
  display: block;
  z-index: 10;
  cursor: pointer;
}
.toggle-btn p {
  margin: 0;
}
.toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: black;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.toggle-btn .bar:nth-child(1) {
  width: 14px;
  margin-right: 0;
}
.toggle-btn .bar:nth-child(2) {
  width: 24px;
  margin-right: 0;
}
.toggle-btn .bar:nth-child(3) {
  width: 14px;
  margin-right: 0;
}
#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
}
#toggle:checked ~ nav ul {
  top: 100px;
}
#toggle:checked ~ nav ul li {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
#toggle:checked ~ nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle:checked ~ nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle:checked ~ nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle:checked ~ nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
#toggle:checked + label.toggle-btn .bar {
  background-color: white;
}

@media (orientation: landscape) and (max-width: 550px) {
  .mobile-nav {
    display: flex !important;
  }
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none !important;
  }
}
