.container {
  padding-top: 200px;
  max-width: 1436px;
  box-sizing: content-box;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 164px;
}

.video {
  max-width: 100%;
  width: 636px;
  height: 448px;
}

.button {
  width: 226px;
}

.tagGame {
  padding: 8px 30px;
  border: 1px solid #b4b5c3;
  border-radius: 5px;
  color: #b4b5c3;
}

@media (max-width: 768px) {
  .container {
    padding-top: 120px;
  }
  .section {
    padding-top: 64px;
  }
  .video {
    width: 100%;
    height: 300px;
  }
  .gamePlayButton {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .gamePlayButton {
    width: 100%;
  }
  .button {
    width: 100%;
  }
}
