/* -------------------------------- 

Background

-------------------------------- */
.stars {
  background-image: url('/img/roadmap/stars_01.png');
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.stars2 {
  background-image: url('/img/roadmap/stars_02.png');
  background-position: center;
  background-repeat: repeat;
  text-align: center;
}

.earth {
  background-image: url('/img/roadmap/earth.png');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  z-index: 1;
}
.cat_planet {
  background-image: url('/img/roadmap/cat_planet.png');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  top: 500px;
  z-index: 1;
}
.animated_star {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  top: 100px;
  z-index: 1;
}
.animated_star2 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 95%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 800px;
  z-index: 1;
}
.animated_star3 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 90%;
  height: 100%;
  left: 10%;
  background-repeat: no-repeat;
  background-position: center;
  top: 1100px;
  z-index: 1;
}
.animated_star4 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  top: 1500px;
  z-index: 1;
}
.animated_star5 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 3000px;
  z-index: 1;
}
.animated_star6 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4000px;
  z-index: 1;
}
.animated_star7 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: -4500px;
  z-index: 1;
}
.animated_star8 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: -1500px;
  z-index: 1;
}
.animated_star9 {
  background-image: url('/img/roadmap/animated_star.gif');
  position: absolute;
  width: 94%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -900px;
  z-index: 1;
}
.mars {
  background-image: url('/img/roadmap/mars.png');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: -3000px;
  z-index: 1;
}
.moon {
  width: 600px;
  height: 600px;
  margin-top: -125px;
  z-index: 1;
}
@media only screen and (min-width: 920px) {
  .moon {
    width: 800px;
    height: 800px;
  }
}
@media only screen and (min-width: 1170px) {
  .moon {
    margin-top: -200px;
  }
}

/* -------------------------------- 

Timeline

-------------------------------- */

.roadmap_title {
  z-index: 2;
  position: absolute;
  width: 100%;
  margin-top: 100px;
  color: white;
}

.cd_container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10%;
  border-radius: 2px;
  z-index: 2;
}
.cd_container::after {
  content: '';
  display: table;
  clear: both;
}

#cd_timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 9em;
  margin-bottom: 2em;
}
#cd_timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: var(--custom-color-brand);
}

.cd_timeline_block {
  position: relative;
  margin: 2em 0;
}
.cd_timeline_block:after {
  content: '';
  display: table;
  clear: both;
}
.cd_timeline_block:first-child {
  margin-top: 0;
}
.cd_timeline_block:last-child {
  margin-bottom: 0;
}

.cd_timeline_checkpoint {
  position: absolute;
  display: flex;
  top: 8px;
  left: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px var(--custom-color-brand-secondary),
    inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd_timeline_checkpoint {
  background: linear-gradient(to left, var(--custom-color-brand-secondary), var(--custom-color-brand));
}
.cd_timeline_checkpoint.completed {
  background: linear-gradient(to left, #4faa5c, #225953);
}
.done_icon {
  font-size: 20px !important;
  margin: auto;
}

.cd_timeline_divider {
  border-bottom: white dotted 2px;
  margin: 100px -500px 25px -500px;
  padding-bottom: 20px;
}

.cd_timeline_content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333c42;
  border-radius: 2px;
  padding: 1em;
}
.timeline_content_img {
  position: absolute;
  width: 200px;
  display: none;
}
.cd_timeline_content p {
  text-align: left;
}
.cd_timeline_content .timeline_content_info {
  background: #2b343a;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.cd_timeline_content .timeline_content_info .timeline_content_info_title,
.cd_timeline_content .timeline_content_info .timeline_content_info_date {
  width: calc(50% - 2px);
  display: inline-block;
}
@media (max-width: 500px) {
  .cd_timeline_content .timeline_content_info .timeline_content_info_title,
  .cd_timeline_content .timeline_content_info .timeline_content_info_date {
    display: block;
    width: 100%;
  }
  .roadmap_title {
    font-size: 24px;
  }
}
.cd_timeline_content .content_skills {
  font-size: 12px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cd_timeline_content .content_skills li {
  background: #40484d;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255, 255, 255, 0.7);
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}
.cd_timeline_content:after {
  content: '';
  display: table;
  clear: both;
}
.cd_timeline_content h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
}
.cd_timeline_content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd_timeline_content::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333c42;
}

.cd_timeline_content .about-video .video-preview {
  max-width: 750px;
}
.cd_timeline_content .about-video .play-video img {
  width: 100px;
}

@media only screen and (min-width: 768px) {
  .cd_timeline_content .about-video .play-video img {
    width: 125px;
  }
}
@media only screen and (min-width: 1170px) {
  .roadmap_title {
    margin-top: 140px;
  }
  #cd_timeline {
    margin-top: 20em;
    margin-bottom: 3em;
  }
  #cd_timeline::before {
    left: 50%;
    margin-left: -2px;
  }
  .cd_timeline_checkpoint {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cd_timeline_content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%;
  }
  .cd_timeline_content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333c42;
  }
  .cd_timeline_block {
    margin: 4em 0;
  }
  .cd_timeline_block:first-child {
    margin-top: 0;
  }
  .cd_timeline_block:last-child {
    margin-bottom: 0;
  }
  .cd_timeline_block:nth-child(even) .cd_timeline_content {
    float: right;
  }
  .cd_timeline_block:nth-child(even) .cd_timeline_content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333c42;
  }
  .cd_timeline_block .cd_timeline_content .timeline_content_img {
    display: block;
  }
  .cd_timeline_block:nth-child(odd) .cd_timeline_content .timeline_content_img {
    left: -60px;
  }
  .cd_timeline_block:nth-child(even) .cd_timeline_content .timeline_content_img {
    right: -60px;
  }
  .cd_timeline_content .about-video .play-video img {
    width: 100px;
  }
  .cd_timeline_divider {
    margin: 100px -500px 125px -500px;
  }
}

.fade_in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------------------------- 

Satoshi

-------------------------------- */

$breakpoint-md: 850px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1170px;

.satoshiStationary {
  position: absolute;
  z-index: 3;
  top: 0;
  left: calc(100% - 90px);
  transform: scaleX(-1);
  width: 125px;
  -webkit-animation-name: float-inverse;
  -webkit-animation-delay: 100ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-name: float-inverse;
  animation-delay: 100ms;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@media only screen and (min-width: $breakpoint-md) {
  .satoshiStationary {
    width: 175px;
  }
}
@media only screen and (min-width: $breakpoint-lg) {
  .satoshiStationary {
    width: 200px;
  }
}
@media only screen and (min-width: $breakpoint-xl) {
  .satoshiStationary {
    left: 50%;
    width: 250px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-25px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-inverse {
  0% {
    transform: scaleX(-1) translatey(0px);
  }
  50% {
    transform: scaleX(-1) translatey(-25px);
  }
  100% {
    transform: scaleX(-1) translatey(0px);
  }
}
