.content {
  font-size: 1.125rem;
  line-height: 1.625;
}

.content p,
.content ul,
.content ol,
.content blockquote {
  margin: 1.25rem 0;
}

.content a {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.625;
  color: #5e72eb;
}
.content a:hover {
  text-decoration: underline;
  color: #fd8ec4;
}

.content ul,
.content ol {
  padding-left: 1rem;
}

.content ul {
  list-style-type: disc;
}

.content ol {
  list-style-type: decimal;
}

.content ul > li > ul,
.content ol > li > ol {
  margin: 0;
  margin-left: 1rem;
}

.content ul > li > ul {
  list-style: circle;
}

.content h1 {
  font-size: 2.25rem;
  line-height: 1.375;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 1.875rem;
  line-height: 1.375;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

.content h4 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

.content pre {
  white-space: pre;
  overflow-x: auto;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25;
  border-width: 1px;
  border-color: rgb(156 163 175);
  background-color: rgb(156 163 175);
}

.content code {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.content figcaption {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.content blockquote {
  border-left-width: 4px;
  border-color: rgb(107 114 128);
  background-color: rgb(229 231 235);
  font-style: italic;
  margin-left: 0;
  padding: 1rem 1.5rem;
}

.content blockquote p {
  margin-top: 0;
}

.content blockquote cite {
  font-style: normal;
}

.content audio {
  width: 100%;
}
