.slide_content {
  height: 100%;
  display: grid;
  // padding: 0 15px;

  :global(.browse-single) {
    background: linear-gradient(26.04deg, rgba(123, 97, 255, 0.1) -0.03%, rgba(109, 50, 237, 0) 99.2%),
      rgba(36, 37, 38, 0.7);
    border-radius: 8px;
  }

  p {
    font-weight: 400;
  }

  @media (max-width: 615px) {
    :global(.browse-single) {
      height: 185px;
      min-height: auto;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }

      label {
        font-size: 4.6px;
      }
    }
  }
}
