.container {
  padding-top: 173px;
  max-width: 1536px;
  box-sizing: content-box;
}

.content {
  position: relative;
}

.inner {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 500px 280px 0px 280px;
  & p {
    font-size: 32px;
    line-height: 66px;
    color: #262930;
    margin-bottom: 0px !important;
  }
}

.button {
  width: 172px;
}

.satoshiContainer {
  position: absolute;
  top: 175px;
  left: calc(50% - 50px);
}

.degensContainer {
  position: absolute;
  bottom: 195px;
  left: calc(50% - 150px);
}

.satoshi {
  width: 100px;
  height: 100px;
}

.degens {
  width: 300px;
  height: 97px;
}

.gradient1 {
  top: 0px;
  right: -200px;
}

.gradient2 {
  bottom: 0px;
  left: -200px;
}

.gradient3 {
  bottom: -200px;
  right: -200px;
}

@media (max-width: 1600px) {
  .inner {
    & p {
      line-height: 58px;
    }
  }
}

@media (max-width: 1540px) {
  .inner {
    & p {
      line-height: 52px;
    }
  }
  .satoshiContainer {
    top: 160px;
    left: calc(50% - 45px);
  }
  .satoshi {
    width: 90px;
    height: 90px;
  }

  .degensContainer {
    left: calc(50% - 125px);
  }

  .degens {
    width: 250px;
    height: 81px;
  }
}

@media (max-width: 1464px) {
  .inner {
    padding: 400px 280px 0px 280px;
    & p {
      line-height: 48px;
    }
  }
}

@media (max-width: 1394px) {
  .inner {
    padding: 360px 280px 0px 280px;
    & p {
      font-size: 28px;
      line-height: 48px;
    }
  }
}

@media (max-width: 1340px) {
  .inner {
    & p {
      font-size: 24px;
      line-height: 48px;
    }
  }
  .satoshiContainer {
    top: 130px;
    left: calc(50% - 40px);
  }
  .satoshi {
    width: 80px;
    height: 80px;
  }
  .degensContainer {
    bottom: 165px;
  }
}

@media (max-width: 1280px) {
  .inner {
    padding: 340px 240px 0px 240px;
    & p {
      font-size: 20px;
      line-height: 40px;
    }
  }
}

@media (max-width: 1100px) {
  .inner {
    padding: 300px 200px 0px 200px;
    & p {
      font-size: 18px;
      line-height: 36px;
    }
  }
  .satoshiContainer {
    top: 110px;
    left: calc(50% - 35px);
  }
  .satoshi {
    width: 70px;
    height: 70px;
  }
  .degensContainer {
    bottom: 145px;
  }
}

@media (max-width: 992px) {
  .inner {
    padding: 300px 200px 0px 200px;
    & p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .container {
    padding-top: 120px;
    overflow: hidden;
  }
  .title {
    margin-bottom: 40px;
  }
  .gradient3 {
    display: none;
  }
  .satoshiContainer {
    top: 90px;
  }
  .degensContainer {
    bottom: 120px;
  }
}

@media (max-width: 896px) {
  .inner {
    padding: 220px 140px 0px 140px;
    & p {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .satoshiContainer {
    top: 75px;
  }
  .degensContainer {
    bottom: 95px;
  }
}

@media (max-width: 768px) {
  .inner {
    padding: 220px 120px 0px 120px;
    & p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .satoshiContainer {
    top: 70px;
  }
  .degensContainer {
    bottom: 85px;
  }
}

@media (max-width: 720px) {
  .inner {
    padding: 180px 80px 0px 80px;
    & p {
      line-height: 18px;
    }
  }
  .satoshiContainer {
    top: 60px;
  }
  .degensContainer {
    bottom: 65px;
  }
}

@media (max-width: 600px) {
  .inner {
    padding: 180px 80px 0px 80px;
    & p {
      line-height: 22px;
    }
  }
  .satoshiContainer {
    top: 40px;
  }
  .degensContainer {
    bottom: 35px;
  }
}

@media (max-width: 480px) {
  .inner {
    padding: 150px 40px 0px 40px;
    & p {
      line-height: 20px;
    }
  }
  .satoshiContainer {
    top: 20px;
  }
  .degensContainer {
    bottom: 25px;
  }
}

@media (max-width: 440px) {
  .inner {
    padding: 140px 40px 0px 40px;
    & p {
      line-height: 18px;
    }
  }
}

@media (max-width: 400px) {
  .inner {
    padding: 110px 16px 0px 16px;
    & p {
      line-height: 20px;
    }
  }
  .satoshiContainer {
    top: 15px;
  }
  .degensContainer {
    bottom: 10px;
  }
}

@media (max-width: 380px) {
  .inner {
    padding: 110px 15px 0px 15px;
    & p {
      line-height: 18px;
    }
  }
}

@media (max-width: 368px) {
  .inner {
    padding: 110px 15px 0px 15px;
    & p {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media (max-width: 340px) {
  .inner {
    padding: 85px 10px 0px 10px;
    & p {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .satoshiContainer {
    left: calc(50% - 25px);
  }
  .satoshi {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 300px) {
  .inner {
    & p {
      font-size: 11px;
      line-height: 12px;
    }
  }
  .degensContainer {
    left: calc(50% - 77px);
  }
  .degens {
    width: 154px;
    height: 50px;
  }
}
