.container {
  max-width: 1340px;
  padding-bottom: 48px;
}

.link {
  color: inherit;
  font-size: inherit;
  text-decoration: underline;
}

.intro {
  padding-top: 200px;
}

.section {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 164px;
}

.sectionImg {
  max-width: 450px;
}

.stat {
  width: 369px;
  height: 323px;
  border: 1px solid #b4b5c3;
}

.tutorials {
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
}
.tutorial {
  width: 333px;
}

.button {
  width: 200px;
}

.expired {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #d9d9d9d9;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  height: 400px;
}

.tutorialVideo {
  width: 100%;
  height: 200px;
}

@media (max-width: 1200px) {
  .stat {
    width: 230px;
    height: 247px;
  }
  .tutorial {
    width: 230px;
  }
}

@media (max-width: 767px) {
  .intro {
    padding-top: 120px;
  }
  .container {
    padding-bottom: 48px;
  }
  .block {
    text-align: center;
  }
  .section {
    padding-top: 64px;
  }
  .stat {
    height: inherit;
  }
  .sectionImg {
    max-width: 80%;
  }
  .video {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 400px) {
  .button {
    width: 100%;
  }
  .tutorial {
    width: 100%;
  }
  .stat {
    width: 100%;
  }
}
