/*************************************** Footer **********************************************/

footer {
  a {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
  }
  .container-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-buttons button {
    width: 100%;
  }
  .socials {
    a:hover {
      color: #620edf;
    }
    a:hover path {
      fill: #620edf;
    }
  }
}

@media (min-width: 576px) {
  footer {
    .footer-buttons {
      display: flex;
      justify-content: space-evenly;
    }
    .footer-buttons a {
      width: 48%;
    }
    .footer-buttons button {
      height: 100%;
    }
  }
}
@media (min-width: 768px) {
  footer {
    .container-footer {
      align-items: flex-start;
    }
    .footer-buttons {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .footer-buttons a {
      width: 100%;
    }
    a {
      text-align: left;
    }
  }
}
@media (min-width: 992px) {
  footer {
    .footer-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    .footer-buttons button {
      height: auto;
      margin: 0 !important;
      padding-left: 20px;
      width: 95%;
    }
  }
}

@media (orientation: landscape) and (max-width: 550px) {
  footer {
    a {
      text-align: center;
    }
    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .container-footer {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .col-sm-8,
    .col-sm-4 {
      width: 50% !important;
    }
    .footer-buttons {
      display: flex;
      flex-direction: column;
    }
    .footer-buttons button {
      margin: 0 !important;
      margin-bottom: 30px !important;
    }
  }
}
